{% extends "hmdb/navbar.html" %}

{% block title %}
    <title>Metabolite registration parameters</title>
{% endblock %}

{% block page_title %}
    <div>Metabolite registration parameters search</div>
{% endblock %}

{% block content %}
    <div class="reg-param-container">
        <div class="reg-param-title">
            Metabolite registration parameter search
        </div>
        <div class="reg-param-main">
            <div class="reg-param-section"> Metabolite search </div>
            <div class="reg-param-content">
                <input id="metabolites_search" type="text" placeholder="Search..">
                <button id="metabolites_search_btn" onclick="met_search_btn_click()"> Search</button>
                <div class="reg_parm_loading" style="display:none">LOADING...</div>
                <table id="metabolites_table">
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% load static %}
<script>
    var async_get_url = "{% url 'hmdb:reg_param_get_async' %}";
</script>
<script src="{% static 'hmdb/reg_parm/reg_param.js' %}"></script>
{% endblock %}
