{% extends "hmdb/navbar.html" %}

{% block title %}
    <title>MRM table generator for ESI-MS/MS</title>
{% endblock %}

{% block content %}
    <div class="reg_param_container">
        <div class="reg_param_title">
            MRM table generator for ESI-MS/MS
        </div>
        <div class="reg_param_main">
            <div class="reg_param_content">
                <div class="reg_param_search_container">
                    <div>
                        <div class="reg_param_section"> Metabolite search </div>
                        <div class="selection_section">
                            <div class="simple_search">
                                <div class="input_container">
                                    <div>Search</div>
                                    <input id="metabolites_search" type="text" placeholder="Search metabolite...">
                                </div>
                                <button id="metabolites_search_btn" onclick="met_search_btn_click()"> Search</button>
                                <button id="search_switch_simple" onclick="search_switch()"> Advanced search</button>
                            </div>
                            <div class="advanced_search" style="display:none">
                                <div class="input_container">
                                    <div>Name</div>
                                    <input id="adv_search_name" type="text">
                                </div>
                                <div class="input_container">
                                    <div>Super class</div>
                                    <input id="adv_search_super_class" type="text">
                                </div>
                                <div class="input_container">
                                    <div>Main class</div>
                                    <input id="adv_search_main_class" type="text">
                                </div>
                                <div class="input_container">
                                    <div>Sub class</div>
                                    <input id="adv_search_sub_class" type="text">
                                </div>
                                <div class="input_container">
                                    <div>Biospeicmen location</div>
                                    <input id="adv_search_biospecimen" type="text">
                                </div>
                                <div class="input_container">
                                    <div style="text-align: center">Mass</div>
                                    <div>
                                        <input id="adv_search_mass_min" type="number" placeholder="min">
                                        -
                                        <input id="adv_search_mass_max" type="number" placeholder="max">
                                    </div>
                                </div>
                                <button id="adv_metabolites_search_btn" onclick="met_search_btn_click()"> Search</button>
                                <button id="search_switch_adv" onclick="search_switch()"> Simple search</button>
                            </div>
                        </div>
                        <div class="reg_parm_loading" style="display:none">LOADING...</div>
                    </div>
                    <div class="table_scroll">
                        <table id="metabolites_table" class="reg_parm_met_table">
                        </table>
                    </div>
                </div>
                <div class="reg_parm_table_container" style="display:none">
                    <div class="reg_param_section">
                        <div>Registration parameters table</div>
                        <div class="input_container">
                            <div>Minimal intensity</div>
                            <input id="minimal_intensity" type="number" min="0" max="100" value="20">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hmdb/reg_param/reg_param.css' %}">
<script>
    var async_get_url = "{% url 'hmdb:reg_param_get_async' %}";
</script>
<script src="{% static 'hmdb/reg_param/reg_param.js' %}"></script>
{% endblock %}
