{% extends "hmdb/navbar.html" %}

{% block title %}
    <title>Metabolite registration parameters</title>
{% endblock %}

{% block page_title %}
    <div>Metabolite registration parameters search</div>
{% endblock %}

{% block content %}
    <div class="reg_param_container">
        <div class="reg_param_title">
            Metabolite registration parameter search
        </div>
        <div class="reg_param_main">
            <div class="reg_param_content">
                <div class="reg_param_search_container">
                    <div>
                        <div class="reg_param_section"> Metabolite search </div>
                        <div class="selection_section">
                            <div class="input_container">
                                <div>Search</div>
                                <input id="metabolites_search" type="text" placeholder="Search metabolite...">
                            </div>
                            <div class="input_container">
                                <div>Minimal intensity</div>
                                <input id="minimal_intensity" type="number" min="0" max="100" value="20">
                            </div>
                            <button id="metabolites_search_btn" onclick="met_search_btn_click()"> Search</button>
                        </div>
                        <div class="reg_parm_loading" style="display:none">LOADING...</div>
                    </div>
                    <div class="table_scroll">
                        <table id="metabolites_table" class="reg_parm_met_table">
                        </table>
                    </div>
                </div>
                <div class="reg_parm_table_container" style="display:none">
                    <div class="reg_param_section"> Registration parameters table </div>
                    <div class="reg_parm_single_met">
                        <div class="metabolite_name">MET NAME</div>
                        <div class="metabolite_avg_mol_wgt">average_molecular_weight</div>
                        <div class="reg_param_list_container table_scroll">
                            <div class="reg_parm_spectrum">
                                <div class="separator"></div>
                                <div class="energy_voltage">E1</div>
                                <div class="ionization_mode">Ionization Mode1</div>
                                <table class="reg_parm_spectrum_table">
                                    <tr>
                                        <th>Q1</th>
                                        <th>Q2/3</th>
                                    </tr>
                                    <tr>
                                        <td>AMV +/- 1</td>
                                        <td>128</td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <div>E2</div>
                                <div>Ionization Mode2</div>
                                <table>
                                    <tr>
                                        <th>Q1</th>
                                        <th>Q2/3</th>
                                    </tr>
                                    <tr>
                                        <td>AMV +/- 1</td>
                                        <td>178</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'hmdb/reg_param/reg_param.css' %}">
<script>
    var async_get_url = "{% url 'hmdb:reg_param_get_async' %}";
</script>
<script src="{% static 'hmdb/reg_param/reg_param.js' %}"></script>
{% endblock %}
