.reg_param_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 8px 8px 8px 3px;
}

.reg_param_title {
    background-color: var(--color-dark-blue);
    box-shadow: 3px 3px var(--color-blue);
    color: var(--color-beige);
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 2px 0;
    height: 2rem;
}

.reg_param_main {
    display: flex;
    padding: 10px;
    flex: 1;
    color: var(--color-black);
}

.separator {
    border-bottom: 2px dashed var(--color-blue);
    margin: 0.5em 0 0.5em 0;
}

.reg_param_section {
    height: 2em;
    display: flex;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0 0 0.2em 0.5em;
    border-bottom: 2px solid var(--color-blue);
    align-items: center;
    justify-content: space-between;
}

.reg_param_content {
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 100%
}

.reg_param_search_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right : 2px solid var(--color-blue);
}

.reg_parm_table_container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.table_scroll {
    flex: 1 1 0;
    margin: 0.5em 2px 0 2px;
    padding: 2px;
    overflow: auto;
}

.selection_section {
    display: flex;
    flex-direction: column;
}

.simple_search {
    display: flex;
    align-items: center;
}

.advanced_search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.input_container {
    font-size: initial;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    padding: 0 0.2em 0 0.2em;
}

.reg_parm_met_table {
    border-collapse: collapse;
    width: 100%;
}
.reg_parm_met_table td {
    border: 1px solid var(--color-black);
}
.reg_parm_met_table tr:nth-child(even) {
    background-color: var(--color-light-blue);
}
.reg_parm_met_table tr:nth-child(odd) {
    background-color: var(--color-beige);
}
.reg_parm_met_table tr.selected {
    background-color: var(--color-dark-blue);
    color: var(--color-beige);
}
.reg_parm_met_table tr td:hover {
    border: 3px solid var(--color-black);
}

.reg_parm_single_met {
    padding: 0 1em 0 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.metabolite_name {
    font-size: 1em;
    font-weight: bold;
    color: var(--color-black)
}

a.metabolite_name:link, a.metabolite_name:visited {
    text-decoration: none;
}

a.metabolite_name:hover, a.metabolite_name:active {
    text-decoration: underline;
}

.reg_parm_spectrum {
    padding: 0.5em 0 0.5em 0;
}

.reg_parm_spectrum_table {
    border-collapse: collapse;
}
.reg_parm_spectrum_table th {
    border: 1px solid var(--color-blue);
    background-color: var(--color-dark-blue);
    color: var(--color-beige);
    min-width: 6em;
}
.reg_parm_spectrum_table td {
    border: 1px solid var(--color-black);
    min-width: 8em;
    text-align: center;
}
.reg_parm_spectrum_table > .table_bottom_border {
    border-bottom: 3px solid var(--color-black);
}
.reg_parm_spectrum_table tr.even {
    background-color: var(--color-light-blue);
}
.reg_parm_spectrum_table tr.odd {
    background-color: var(--color-beige);
}

.ionization_mode {
    font-weight: bold;
    margin: 0 0 0.2em 0;
}
