.reg_param_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 8px 8px 8px 3px;
}

.reg_param_title {
    background-color: var(--color-dark-blue);
    box-shadow: 3px 3px var(--color-blue);
    color: var(--color-beige);
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 2px 0;
    height: 2rem;
}

.reg_param_main {
    display: flex;
    padding: 10px;
    flex: 1;
    color: var(--color-black);
}

.reg_param_section {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0 0 0.2em 0.5em;
    border-bottom: 2px solid var(--color-light-blue);
}

.reg_param_content {
    display: flex;
    flex: 1;
    width: 100%;
    max-height: 100%
}

.reg_param_search_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
    border-right : 2px solid var(--color-light-blue);
}

.reg_parm_table_container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.table_scroll {
    flex: 1 1 0;
    margin: 0.5em 2px 0 2px;
    overflow: auto;
}

.selection_section {
    display: flex;
}

.input_container {
    display: flex;
    flex-direction: column;
}

.reg_parm_met_table {
}
